* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#active{
    color: purple;
}
header {
    display:flex;
    justify-content: space-around;
    background-color: darkslategray;
    width: 100%;
    height: 4em;
}
#purplify {
    color: purple
}

header ul {
    margin-top: 20px;
}
header h1 {
    margin-top: 10px;
    color: white;
}

header ul li {
    display: inline;
}

header ul li a {
    color: white;
    padding: 12px;
    text-decoration: none;
}
header ul li a:hover {
    color: purple
}

.banner {
    background-color: darkslategray;
    height: 400px;
    width: 100%;
    border: 1px solid purple;
    background-image: url(images/showcase.jpg);
    background-size:auto;
    background-position: center;
}
.text-container{
    margin-top: 150px;
    text-align: center;
    color: white;
}
.text-container h1 {
    margin: 20px;
    font-size: 48px;
}

.input-field label {
    padding: 6px;
    background-color: purple;
}

.container {
    background-color: darkslategray;
    height: 60px;
    padding:20px;
    color: white;
    display:flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height:300px
}

.content {
    margin-top: 20px;
    width: 25vw;
    text-align: center;
}

.content img {
    width:200px;
    height: 100px;
    
}

.lol-got-you-footer-the-other-one-is-fake-haha {
    display: block;
    text-align: center;
    background-color:wheat;
    padding:20px;
    border: 1px solid purple;
}

.abt-container {
    width: 100vw;
    height: 75vh;
    background-color: darkslategray;
    border-top: 1px solid purple;
}
.right-item {
    width: 20%;
    float:right;

}

.abt-container h1 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    height: auto;
}

.left-item, .right-item {
    padding: 20px;
    box-shadow: -10px 5px 15px 2px rgb(14, 20, 20);
    height: 85%;
    border: 1px solid rgb(14, 20, 20);
    border-radius: 10px;
    background-color: rgba(21, 44, 44, 0.568);
}
.right-item ul{
    margin-left: 50px;
    font-size: 24px;
}
.left-item {
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-frame {
    color:whitesmoke
}
.text-frame h1 {
    color:purple
}
.text-frame p {
    font-size: 16px;
    margin:20px;
}

.filler{
    background-color: darkslategray;
    height:110px;
    text-align: center;
    font-size: 28px;
    font-style: bold;
    text-decoration: underline;

}

.main-container {
    padding: 20px;
    display:flex;
    justify-content: space-evenly;
    background-image: url(images/Image1.jpg);
    background-repeat: cover;
    background-position: center;
    height: 86vh;
    flex-wrap: wrap;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.13);
    padding:30px;
    border-radius: 12px;
    height: 200px;
    width:400px;
    color: rgba(255, 255, 255, 0.863)

}

.main-content h1, .giga-content h1 {
    text-align: center;
    color: rgb(185, 176, 41)
}

.giga-content {
    padding: 20px;
    width: 950px;
    height: 200px;
    background-color:rgba(98, 192, 192, 0.342);
    border-radius: 24px;
    color: rgba(255, 255, 255, 0.863)
}